*{
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 1fr 5rem;
    grid-template-areas: 
        'h h'
        'l r'
        'f f';
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: h;
    background-color: #A9A9A9;
}

.left-main {
    grid-area: l;
    background-color: #C0C0C0;
}

.right-main {
    grid-area: r;
    background-color: #C0C0C0;
}

footer {
    grid-area: f;
    background-color: #A9A9A9;
}