*{
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 1fr 2rem;
    grid-template-areas: 
        'h h'
        'l r'
        'f f';
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: h;
    background-color: #A9A9A9;
}

.left-main {
    grid-area: l;
    background-color: #C0C0C0;
    padding: 2rem;
}

.right-main {
    grid-area: r;
    background-color: #C0C0C0;
}

footer {
    grid-area: f;
    background-color: #A9A9A9;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

button {
    background-color: #A9A9A9;
}

textarea{
    background-color: #DCDCDC;
}

.budget{
    display: flex;
    list-style: none;
    visibility: visible;
}

.listitems {
    visibility: visible;
}

#listitems {
    list-style: none;
}